---
layout: default
---

<div class="home">
  <section class="container">
    <div class="l"></div>
    <div class="m"></div>
    <div class="r"></div>
    <div class="info-overlay">
      <details>
        <summary>?</summary>
        <h1>Harry Fischer</h1>
        <h2>
          Digital designer and frontend developer based in London. Currently
          with the Guardian
        </h2>
      </details>
    </div>
  </section>

  <section>
    <div class="content">
      <div class="content-left">
        <h2>Alexander Mourant website design and build</h2>
      </div>
      <div class="content-right">
        <div>
          <img src="assets/img/alex-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/alex-img2.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/alex-img3.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/alex-img4.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/alex-img5.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>The Guardian - Carbon Bombs</h2>
      </div>
      <div class="content-right">
        <div>
          <img src="assets/img/carbon-bombs-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/carbon-bombs-img2.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/carbon-bombs-img3.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/carbon-bombs-img4.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>Daphne Project</h2>
      </div>
      <div class="content-right">
        <div>
          <img src="assets/img/daphne-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/daphne-img2.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/daphne-img3.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>The Guardian - Greta Thunberg interview</h2>
      </div>
      <div class="content-right">
        <div>
          <video src="assets/img/greta-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/greta-img1.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>The Guardian Australia - Indigenous Fashion is the Future</h2>
      </div>
      <div class="content-right">
        <div>
          <img src="assets/img/indig-fashion-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/indig-fashion-img2.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/indig-fashion-img3.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/indig-fashion-img4.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>The Guardian - The Last John LeCarre extract</h2>
      </div>
      <div class="content-right">
        <div>
          <video src="assets/img/greta-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/le-carre-img.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>The Guardian - Pegasus Project header</h2>
      </div>
      <div class="content-right">
        <div>
          <img src="assets/img/pegasus-img1.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="content">
      <div class="content-left">
        <h2>The Royal Air Force - BrainOps</h2>
      </div>
      <div class="content-right">
        <div>
          <img src="assets/img/brain-ops-img1.jpg" alt="" loading="lazy" />
        </div>
        <div>
          <img src="assets/img/brain-ops-img2.jpg" alt="" loading="lazy" />
        </div>
      </div>
    </div>
  </section>
</div>
